:root {
  --white: #FFFFFF;
  --dark: #27262C;
  --darkblue: #3C065E;
  --blue: #5C3AE6;
  --aqua: #29B7DD;
  --purple: #8B72EE;
  --blueviolet: #5D3BE7;
  --pink: #BD72EF;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/proximanova_regular.woff") format("woff"), url("../fonts/proximanova_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --white: #FFFFFF;
  --dark: #27262C;
  --darkblue: #3C065E;
  --blue: #5C3AE6;
  --aqua: #29B7DD;
  --purple: #8B72EE;
  --blueviolet: #5D3BE7;
  --pink: #BD72EF;
}

:root {
  --white: #FFFFFF;
  --dark: #27262C;
  --darkblue: #3C065E;
  --blue: #5C3AE6;
  --aqua: #29B7DD;
  --purple: #8B72EE;
  --blueviolet: #5D3BE7;
  --pink: #BD72EF;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--aqua);
  border-radius: 15px;
  border: 2px solid transparent;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.015em;
  color: var(--white);
  -webkit-transition: border .3s ease;
  -o-transition: border .3s ease;
  transition: border .3s ease;
}

.btn:hover {
  border: 2px solid var(--white);
}

.btn:active {
  border: 2px solid var(--white);
  -webkit-box-shadow: inset 5px 3px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 5px 3px 2px rgba(0, 0, 0, 0.25);
}

.btn_form {
  background: var(--white);
  border: 1px solid var(--darkblue);
  border-radius: 15px;
  font-family: 'Proxima Nova';
  font-weight: 400;
  letter-spacing: -0.07em;
  color: var(--darkblue);
}

.btn_form:hover {
  border: 1px solid var(--darkblue);
}

.btn_form:active {
  border: 1px solid var(--darkblue);
  -webkit-box-shadow: inset 5px 3px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 5px 3px 2px rgba(0, 0, 0, 0.25);
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: var(--darkblue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-body {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-body__logo_mobile {
  display: none;
}

.header-body__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0;
}

.header-body__btns-top {
  display: none;
}

.header-body__btns-item {
  position: relative;
  font-family: 'Montserrat';
  font-size: 16px;
  color: var(--white);
  padding: 0 5px;
  margin: 0 0 0 30px;
}

.header-body__btns-item_search {
  display: none;
}

.header-body__btns-item::before {
  display: none;
  content: url(/img/icons/menu-arrow.svg);
}

.header-body__btns-item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--white);
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}

.header-body__btns-item:first-child {
  margin: 0;
}

.header-body__btns-item:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

.header-body__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Proxima Nova';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: var(--white);
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.header-body__tel:hover {
  opacity: .9;
}

.header-body__tel svg {
  width: 18px;
  height: 18px;
  margin: 0 18px 0 0;
}

.header-body__search {
  cursor: pointer;
  position: relative;
}

.header-body__search input {
  height: 40px;
  margin: 0 0 0 26px;
  padding: 0 0 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: var(--white);
  background: transparent;
}

.header-body__search input::-webkit-input-placeholder {
  color: rgba(160, 160, 160, 0.78);
}

.header-body__search input::-moz-placeholder {
  color: rgba(160, 160, 160, 0.78);
}

.header-body__search input:-ms-input-placeholder {
  color: rgba(160, 160, 160, 0.78);
}

.header-body__search input::-ms-input-placeholder {
  color: rgba(160, 160, 160, 0.78);
}

.header-body__search input::placeholder {
  color: rgba(160, 160, 160, 0.78);
}

.header-body__search svg {
  position: absolute;
  top: 10px;
  right: 11px;
}

.header-body .burger__btn {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.header-body .burger__btn span {
  display: block;
  position: absolute;
  background: var(--white);
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: top .4s ease, -webkit-transform .4s ease;
  transition: top .4s ease, -webkit-transform .4s ease;
  -o-transition: transform .4s ease, top .4s ease;
  transition: transform .4s ease, top .4s ease;
  transition: transform .4s ease, top .4s ease, -webkit-transform .4s ease;
}

.header-body .burger__btn span:nth-child(1) {
  top: 0;
}

.header-body .burger__btn span:nth-child(2) {
  top: 9px;
}

.header-body .burger__btn span:nth-child(3) {
  top: 19px;
}

.header-body .burger__btn.active span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-body .burger__btn.active span:nth-child(2) {
  top: 9px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header-body .burger__btn.active span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  background: var(--darkblue);
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.footer-body__col {
  margin: 0 0 0 65px;
}

.footer-body__col:first-child {
  margin: 0;
}

.footer-body__col:nth-child(2) {
  margin: 0 0 0 95px;
}

.footer-body__col-title {
  font-family: 'Proxima Nova';
  font-size: 18px;
  letter-spacing: -0.01em;
  color: var(--white);
}

.footer-body__social {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-body__social-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin: 0 0 0 14px;
}

.footer-body__social-item:first-child {
  margin: 0;
}

.footer-body__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 0;
  font-family: 'Proxima Nova';
  font-size: 17px;
  letter-spacing: -0.01em;
  color: var(--white);
}

.footer-body__tel svg {
  margin: 0 43px 0 0;
}

.footer-body__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 0;
  font-family: 'Proxima Nova';
  font-size: 17px;
  letter-spacing: -0.01em;
  color: var(--white);
}

.footer-body__email svg {
  margin: 0 43px 0 0;
}

.footer-body__links {
  margin: 10px 0 0 0;
}

.footer-body__links-item {
  margin: 18px 0 0 0;
  display: block;
  font-family: 'Proxima Nova';
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: var(--white);
}

.main {
  padding: 120px 0 145px;
  background: var(--darkblue);
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-body__content {
  margin: 110px 0 0 0;
}

.main-body__content-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.02em;
  color: var(--white);
}

.main-body__content-subtitle {
  margin: 34px 0 0 0;
  font-family: 'Montserrat';
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: var(--white);
}

.main-body__content-text {
  margin: 34px 0 0 0;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--white);
}

.main-body__content-text span {
  font-weight: 600;
}

.main-body__content-btn {
  margin: 34px 0 0 0;
  width: 200px;
  height: 50px;
}

.services {
  padding: 90px 0 110px;
}

.services__title {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 40px;
  letter-spacing: -0.015em;
  color: var(--dark);
}

.services-body {
  margin: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-body__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 20px;
}

.services-body__col-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}

.services-body__col-row:first-of-type {
  margin: 0;
}

.services-body__col:first-of-type {
  margin: 0;
}

.services-body__col-item {
  margin: 0 0 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.015em;
  color: var(--white);
}

.services-body__col-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-body__col-item:first-of-type {
  margin: 0;
}

.services-body__col-item svg {
  margin: 0 0 14px 0;
}

.services-body__col-item_dev {
  background: var(--aqua);
}

.services-body__col-item_imp {
  background: var(--purple);
}

.services-body__col-item_int {
  background: var(--blueviolet);
}

.services-body__col-item_auto {
  background: var(--pink);
}

.services-body__col-item_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  overflow: hidden;
  position: relative;
}

.services-body__col-item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.aboutus {
  padding: 42px 0 50px;
  background: var(--darkblue);
}

.aboutus-body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0 0 0;
}

.aboutus-body__row:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.aboutus-body__row:first-of-type {
  margin: 0;
}

.aboutus-body__row-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.aboutus-body__row-col_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutus-body__row-col_img img {
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  overflow: hidden;
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutus-body__row-title {
  font-family: 'Montserrat';
  font-size: 40px;
  letter-spacing: -0.015em;
  color: var(--white);
  margin: 0 0 24px 0;
}

.aboutus-body__row-text {
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 640px;
}

.aboutus-body__row-list {
  max-width: 640px;
}

.aboutus-body__row-list li {
  position: relative;
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--white);
  padding: 0 0 0 20px;
}

.aboutus-body__row-list li::before {
  content: '';
  position: absolute;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--white);
  top: 10px;
  left: 7px;
}

.sponsors {
  padding: 120px 0;
}

.sponsors-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsors-body__item {
  display: block;
}

.advantages {
  padding: 60px 0;
  background: var(--darkblue);
}

.advantages-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 48px 0;
  background-image: url(../img/advantages/bg-desctop.png);
}

.advantages-body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 305px;
          flex: 0 0 305px;
  margin: 75px 0 0 75px;
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  background: var(--white);
  padding: 38.5px 17px;
  min-height: 430px;
}

.advantages-body__item:nth-of-type(1) {
  margin: 0;
}

.advantages-body__item:nth-of-type(2) {
  margin: 0 0 0 75px;
}

.advantages-body__item:nth-of-type(3) {
  margin: 0 0 0 75px;
}

.advantages-body__item:nth-of-type(4) {
  margin: 75px 0 0 0;
}

.advantages-body__item-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--aqua);
}

.advantages-body__item-desc {
  margin: 33px 0 0 0;
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.advantages-body__item-btn {
  margin: auto auto 0;
  width: 200px;
  height: 50px;
}

.service {
  min-height: 880px;
}

.service:nth-of-type(odd) {
  background-color: var(--darkblue);
  padding: 30px 0 60px;
}

.service:nth-of-type(even) .service-body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: var(--dark);
}

.service:first-of-type {
  padding: 80px 0 0 0;
}

.service-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white);
  padding: 80px 0 60px;
}

.service-body__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.service-body__col_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-body__col_img img {
  -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.service-body__col-title {
  font-family: 'Montserrat';
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.015em;
  max-width: 520px;
}

.service-body__col-subtitle {
  margin: 20px 0 0 0;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.service-body__col-desc {
  margin: 14px 0 0 0;
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.service-body__col-desc p {
  margin: 16px 0 0 0;
}

.service-body__col-desc p:first-child {
  margin: 0;
}

.cases {
  padding: 180px 0 100px 0;
  background-color: var(--darkblue);
}

.cases .container {
  max-width: 1104px;
}

.cases__title {
  font-family: 'Montserrat';
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.015em;
  color: var(--white);
}

.cases__subtitle {
  margin: 20px 0 0 0;
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--white);
}

.cases-body {
  margin: 80px 0 0 0;
}

.cases-body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 0;
  background: var(--white);
  border-radius: 15px;
  overflow: hidden;
}

.cases-body__item:first-of-type {
  margin: 0;
}

.cases-body__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 414px;
  height: 414px;
}

.cases-body__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cases-body__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 53px 37px 53px 61px;
}

.cases-body__item-title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.cases-body__item-desc {
  margin: 36px 0 0 0;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.cases-body__item-btn {
  margin: auto 0 0 auto;
  width: 200px;
  height: 50px;
}

.contacts {
  background: var(--darkblue);
  padding: 0 0 100px 0;
}

.contacts .container {
  max-width: 1104px;
}

.contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.contacts-body__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-body__col_map {
  margin: 0 0 0 20px;
}

.contacts-body__col_map .contacts__map {
  overflow: hidden;
  border-radius: 10px;
}

.contacts-body__title {
  font-family: 'Montserrat';
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.015em;
  color: var(--white);
}

.contacts-body__info {
  margin: 30px 0 0 0;
  max-width: 520px;
}

.contacts-body__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 0;
  font-family: 'Proxima Nova';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--white);
}

.contacts-body__info-item svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 28px 0 0;
}

.contacts-body__info-item:first-child {
  margin: 0;
}

.notfound {
  background: var(--darkblue);
}

.notfound-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 100px 0;
}

.notfound-body__text {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--white);
  text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.45);
  margin: -120px 0 0 0;
}

.notfound-body__link {
  margin: 20px 0 0 0;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--white);
  text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.45);
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.notfound-body__link:hover {
  opacity: .8;
}

.contactus {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(200%, -50%);
      -ms-transform: translate(200%, -50%);
          transform: translate(200%, -50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactus__bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.contactus.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.contactus-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  min-height: 354px;
  background: var(--darkblue);
  padding: 50px 70px 50px 38px;
  position: relative;
  z-index: 1;
}

.contactus-body::before {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  top: -100px;
  left: 0;
  position: absolute;
  background: rgba(234, 234, 234, 0.5);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 15px 15px 0 0;
}

.contactus-body::after {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  bottom: -100px;
  left: 0;
  position: absolute;
  background: rgba(234, 234, 234, 0.5);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 0 0 15px 15px;
}

.contactus__col:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 445px;
          flex: 0 0 445px;
}

.contactus__col:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 0 0 20px;
  position: relative;
}

.contactus__col-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Proxima Nova';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--white);
  margin: 36px 0 0 0;
}

.contactus__col-item:first-child {
  margin: 0;
}

.contactus__col-item svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 26px 0 0;
}

.contactus__form {
  position: absolute;
  z-index: 1;
  top: -88px;
  -webkit-filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  background: var(--white);
  border-radius: 15px;
  padding: 30px 40px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contactus__form-title {
  font-family: 'Oswald';
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #27262C;
}

.contactus__form-input {
  margin: 18px 0 0 0;
  background: #F0F0F0;
  border-radius: 10px;
  padding: 0 16px 0;
  height: 44px;
  font-family: 'Proxima Nova';
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.07em;
  color: var(--dark);
}

.contactus__form-input_textarea {
  min-height: 112px;
  padding: 10px 16px 11px;
  resize: none;
}

.contactus__form-input::-webkit-input-placeholder {
  color: #A0A0A0;
}

.contactus__form-input::-moz-placeholder {
  color: #A0A0A0;
}

.contactus__form-input:-ms-input-placeholder {
  color: #A0A0A0;
}

.contactus__form-input::-ms-input-placeholder {
  color: #A0A0A0;
}

.contactus__form-input::placeholder {
  color: #A0A0A0;
}

.contactus__form-input:first-child {
  margin: 24px 0 0 0;
}

.contactus__form-btn {
  margin: 26px 0 0 0;
  width: 150px;
  height: 44px;
  font-family: 'Proxima Nova';
  font-size: 20px;
  letter-spacing: -0.07em;
}

body {
  overflow: auto;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sitemap {
  width: 100%;
  min-height: 100vh;
  background-color: var(--darkblue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 20px;
}

.sitemap__item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
  border-radius: 15px;
  border: 2px solid var(--white);
  height: 450px;
  position: relative;
  overflow: hidden;
}

.sitemap__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.sitemap__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.sitemap__item:nth-child(even) {
  margin: 20px 0 0 20px;
}

.sitemap__item:nth-child(odd) {
  margin: 20px 0 0 0;
}

.sitemap__item:nth-child(1) {
  margin: 0;
}

.sitemap__item:nth-child(2) {
  margin: 0 0 0 20px;
}

@media (max-width: 1200px) {
  .main-body__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 500px;
  }

  .main-body__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .advantages-body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 989px;
    margin: 0 auto;
  }

  .advantages-body__item:nth-of-type(odd) {
    margin: 75px 0 0 0;
  }

  .advantages-body__item:nth-of-type(even) {
    margin: 75px 0 0 75px;
  }

  .advantages-body__item:nth-of-type(1) {
    margin: 0;
  }

  .advantages-body__item:nth-of-type(2) {
    margin: 0 0 0 75px;
  }

  .advantages-body__item:nth-of-type(3) {
    margin: 75px 0 0 0;
  }

  .contactus__col:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 330px;
            flex: 0 0 330px;
  }
}

@media (max-width: 992px) {
  .header-body {
    height: 70px;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-body .burger__btn {
    display: block;
  }

  .header-body__logo {
    display: none;
  }

  .header-body__logo_mobile {
    display: block;
  }

  .header-body__btns {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 174px;
    background: var(--darkblue);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px 0 14px 17px;
    -webkit-transform: scale(0) translate(100%, -100%);
        -ms-transform: scale(0) translate(100%, -100%);
            transform: scale(0) translate(100%, -100%);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
  }

  .header-body__btns.active {
    display: block;
    -webkit-transform: scale(1) translate(0);
        -ms-transform: scale(1) translate(0);
            transform: scale(1) translate(0);
  }

  .header-body__btns-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    margin: 20px 0 0 0;
  }

  .header-body__btns-item:first-of-type {
    margin: 0;
  }

  .header-body__btns-item::before {
    display: block;
    margin: 0 17px 0 0;
  }

  .header-body__btns-item_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-body__btns-top {
    display: block;
  }

  .header-body__btns-div {
    width: calc(100% - 56px);
    height: 1px;
    background: var(--white);
    margin: 30px 28px 30px 11px;
  }

  .header-body__search {
    display: none;
  }

  .footer-body {
    padding: 30px 0;
  }

  .footer-body__logo svg {
    width: 75px;
    height: 37px;
  }

  .footer-body__col {
    display: none;
  }

  .footer-body__col:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-body__tel {
    margin: 24px 0 0 0;
    font-size: 14px;
  }

  .footer-body__tel svg {
    margin: 0 25px 0 0;
    width: 15px;
    height: 15px;
  }

  .footer-body__email {
    margin: 24px 0 0 0;
    font-size: 14px;
  }

  .footer-body__email svg {
    margin: 0 25px 0 0;
    width: 15px;
    height: 13px;
  }

  .footer-body__social {
    margin: 24px 0 0 0;
  }

  .footer-body__social-item {
    width: 29px;
    height: 29px;
  }

  .footer-body__social-item svg {
    width: 15px;
  }

  .main {
    padding: 108px 0 44px;
  }

  .main-body__content {
    margin: 0;
  }

  .main-body__content-subtitle {
    margin: 15px 0 0 0;
  }

  .main-body__content-text {
    margin: 15px 0 0 0;
  }

  .main-body__content-btn {
    margin: 20px 0 0 0;
  }

  .main-body__image {
    display: none;
  }

  .services-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-body__col {
    margin: 36px 0 0 0;
  }

  .services-body__col-item:not(.services-body__col-item_img) {
    position: relative;
    padding: 0 0 41% 0;
  }

  .services-body__col-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .sponsors {
    padding: 22px 0;
  }

  .sponsors-body__item {
    max-width: 190px;
  }

  .sponsors-body__item img {
    width: 100%;
  }

  .service:first-of-type {
    padding: 70px 0 0 0;
  }

  .service:nth-of-type(even) .service-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .service-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 38px 0;
  }

  .service-body__col:nth-of-type(2) {
    margin: 38px 0 0 0;
  }

  .service-body__col-title {
    font-size: 28px;
    line-height: 34px;
  }

  .service-body__col-subtitle {
    font-size: 20px;
  }

  .service-body__col-desc {
    font-size: 16px;
  }

  .service-body__col_img img {
    width: 320px;
    height: 320px;
  }

  .cases {
    padding: 98px 0 0 0;
  }

  .cases__title {
    font-size: 20px;
    line-height: 24px;
  }

  .cases__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin: 5px 0 0 0;
  }

  .cases-body {
    margin: 28px 0 0 0;
  }

  .cases-body__item-content {
    padding: 44px 22px 44px 22px;
  }

  .contacts {
    padding: 130px 0 100px 0;
  }

  .contacts-body {
    height: calc(100vh - 400px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts-body__col_map {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 767px) {
  .header-body__tel {
    font-size: 18px;
  }

  .header-body__tel svg {
    display: none;
  }

  .main-body__content-title {
    font-size: 25px;
    line-height: 30px;
  }

  .main-body__content-subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .main-body__content-text {
    font-size: 18px;
    line-height: 140%;
  }

  .main-body__content-btn {
    margin: 20px auto 0;
  }

  .main-body__image {
    display: none;
  }

  .services {
    padding: 34px 0 44px;
  }

  .services-body {
    margin: 38px 0 0 0;
  }

  .services__title {
    font-size: 28px;
  }

  .aboutus-body__row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin: 36px 0 0 0;
  }

  .aboutus-body__row-title {
    margin: 0 0 17px 0;
    font-size: 28px;
    line-height: 34px;
  }

  .aboutus-body__row-text {
    font-size: 16px;
    line-height: 140%;
  }

  .aboutus-body__row-list li {
    font-size: 16px;
    line-height: 140%;
  }

  .aboutus-body__row-list li::before {
    top: 8px;
  }

  .aboutus-body__row-col_img {
    margin: 32px 0 0 0;
  }

  .aboutus-body__row-col_img img {
    width: 320px;
    height: 186px;
  }

  .sponsors-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sponsors-body__item {
    margin: 32px 0 0 0;
  }

  .sponsors-body__item:first-child {
    margin: 0;
  }

  .advantages {
    padding: 44px 0;
  }

  .advantages .container {
    padding: 0;
  }

  .advantages-body {
    background: url(../img/advantages/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 609px;
    padding: 44px 0;
  }

  .advantages-body__item {
    margin: 22px 0 0 0 !important;
  }

  .advantages-body__item br {
    display: none;
  }

  .advantages-body__item-desc {
    font-size: 16px;
    margin: 54px 0 0 0;
  }

  .advantages-body__item:first-of-type {
    margin: 0 !important;
  }

  .service-body__col-desc p {
    margin: 12px 0 0 0;
  }

  .cases-body__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 414px;
    min-height: 597px;
    margin: 28px auto 0;
    border-radius: 5px;
  }

  .cases-body__item:first-of-type {
    margin: 0 auto 0;
  }

  .cases-body__item-img {
    height: 230px;
  }

  .cases-body__item-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .cases-body__item-title {
    font-size: 24px;
    line-height: 128%;
  }

  .cases-body__item-desc {
    margin: 26px 0 0 0;
    font-size: 16px;
    line-height: 127.5%;
  }

  .cases-body__item-btn {
    margin: auto auto 0;
  }

  .contacts {
    padding: 98px 0 100px 0;
    height: calc(100vh - 230px);
  }

  .contacts-body__col_map {
    display: none;
  }

  .contacts-body__info {
    margin: 25px 0 0 0;
  }

  .contacts-body__info-item {
    margin: 25px 0 0 0;
    font-size: 16px;
    line-height: 19px;
  }

  .contacts-body__info-item svg {
    margin: 0 23px 0 0;
    width: 30px;
    height: 30px;
  }

  .notfound-body__bg img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .notfound-body__text {
    margin: 0;
  }

  .contactus {
    padding: 0 20px;
  }

  .contactus-body {
    width: 100%;
    max-width: 350px;
    padding: 0;
    background: transparent;
    min-height: auto;
  }

  .contactus-body::before {
    display: none;
  }

  .contactus-body::after {
    display: none;
  }

  .contactus__form {
    position: relative;
    top: 0;
    padding: 20px 30px;
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    -webkit-filter: none;
            filter: none;
  }

  .contactus__form-input {
    margin: 14px 0 0 0;
    height: 33px;
    font-size: 15px;
    line-height: 18px;
  }

  .contactus__form-input_textarea {
    min-height: 83px;
  }

  .contactus__form-input:first-child {
    margin: 10px 0 0 0;
  }

  .contactus__form-btn {
    margin: 18px 0 0 0;
    width: 140px;
    height: 37px;
    font-size: 18px;
    line-height: 22px;
  }

  .contactus__form-title {
    font-size: 25px;
    line-height: 37px;
  }

  .contactus__col:nth-child(1) {
    display: none;
  }

  .contactus__col:nth-child(2) {
    margin: 0;
  }

  .sitemap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sitemap__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    height: 350px;
    margin: 20px 0 0 0;
  }

  .sitemap__item:nth-child(even) {
    margin: 20px 0 0 0;
  }

  .sitemap__item:nth-child(odd) {
    margin: 20px 0 0 0;
  }

  .sitemap__item:nth-child(1) {
    margin: 0;
  }

  .sitemap__item:nth-child(2) {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 575px) {
  .services-body__col-item {
    font-size: 18px;
  }

  .services-body__col-item svg {
    width: 60px;
    height: auto;
    margin: 0 0 2px 0;
  }
}